body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Poppins', sans-serif;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    background: rgba(0, 255, 0, 0.15);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 25px #00ff00;
    text-align: center;
}

.title {
    margin-bottom: 15px;
    font-size: 26px;
    text-shadow: 0 0 10px #00ff00;
}

#display {
    width: 100%;
    padding: 12px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    background: black;
    color: #00ff00;
    box-shadow: 0 0 10px #00ff00 inset;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    justify-content: center;
}

.btn {
    padding: 15px;
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 8px #00ff00;
    transition: 0.2s;
}

.btn:hover {
    background: #00ff00;
    color: black;
    box-shadow: 0 0 15px #00ff00;
}

.equal {
    grid-column: span 2;
    background: #00ff00;
    color: black;
    box-shadow: 0 0 15px #00ff00;
}
